.slide-down-enter-active, .slide-down-leave-active {
  transition: transform .2s ease;
}
.slide-down-enter, .slide-down-leave-to {
  transform: translate3d(0, -100%, 0)
}
.slide-up-enter-active, .slide-up-leave-active {
  transition: transform .2s ease;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, 100%, 0)
}
.slide-left-enter-active, .slide-left-leave-active {
  transition: transform .2s ease;
}
.slide-left-enter, .slide-left-leave-to {
  transform: translate3d(100%, 0, 0)
}
.slide-right-enter-active, .slide-right-leave-active {
  transition: transform .2s ease;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(-100%, 0, 0)
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
.scale-down-enter-active, .scale-down-leave-active {
  transition: transform .2s ease;
  transform-origin: top;
}
.scale-down-enter, .scale-down-leave-to {
  transform:scaleY(0)
}